# vim: set ft=sh:

service dpmQmiMgr /vendor/bin/_dpmQmiMgr
    class main
    disabled
    user system
    group radio system
    disabled

# YTX703L
#on property:ro.baseband=msm
#    enable dpmQmiMgr
